@model Reporter.Web.ViewModels.Manage.ChangePasswordViewModel

@{
    ViewBag.Title = "Manage - Change Password";
}

<div class="ui container content">

    <h2>@ViewBag.Title</h2>
    
    <div class="ui grid">
        <div class="four wide column">
            @Html.Partial("_ManageMenuPartial")
        </div>
        <div class="seven wide column">
            
            <div class="ui attached message">
                <div class="header">
                    <h3>Fill out the form below to change your password.</h3>
                </div>
            </div>
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "ui large form", id = "changePassowrdForm", role = "form" }))
                {
                    <div class="ui attached segment">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        <div class="field">
                            <div class="ui left labeled input">
                                <div class="ui label">
                                    <label for="OldPassword">Current password</label>
                                </div>
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "", id = "OldPassword", placeholder = "Please, enter your old password" })
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui left labeled input">
                                <div class="ui label">
                                    <label for="NewPassword">New password</label>
                                </div>
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "", placeholder = "Please, enter your new password" })
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui left labeled input">
                                <div class="ui label">
                                    <label for="ConfirmPassword">Confirm new password</label>
                                </div>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "", placeholder = "Please, confirm your new password" })
                            </div>
                        </div>
                    </div>

                    <button class="ui fluid large teal submit bottom attached button"><i class="rocket icon"></i> Change my password</button>

                }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}