@model Reporter.Web.ViewModels.Manage.SetPasswordViewModel
@{
    ViewBag.Title = "Manage - Create Password";
}
<div class="ui container content">
    <h2>@ViewBag.Title.</h2>
    
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui vertical menu">
                <div class="item">
                    <div class="header">Account settings</div>
                    <div class="menu">
                        <div class="item">
                            <a href="@Url.Action("Index", "Manage")"><i class="user alternate icon"></i> You</a>
                        </div>
                        <div class="item">
                            <a href="@Url.Action("SetPassword", "Manage")"><i class="unlock icon"></i> Create password</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Manage reports</div>
                    <div class="menu">
                        <a class="item">My reports</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Support</div>
                    <div class="menu">
                        <a class="item">E-mail Support</a>
                        <a class="item">FAQs</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="six wide column">
            
                <div class="ui attached message">
                    <div class="header">
                        <h3>You do not have a local password for this site</h3>
                        <p>
                            Add a local account so you can log in without an external login.
                        </p>
                    </div>
                </div>
                @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new {@class = "ui large attached form segment", role = "form"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="ui field">
                        <div class="ui left labeled fluid input">
                            <div class="ui basic label">
                                New password
                            </div>
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "", placeholder = "Enter new password" })
                        </div>
                    </div>
                    <div class="ui field">
                        <div class="ui left labeled fluid input">
                            <div class="ui basic label">
                                Confirm password
                            </div>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "", placeholder = "Confirm password" })
                        </div>
                    </div>
                    <button class="ui large blue submit button">Create password</button>

                }
           
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}