@using Reporter.Web.ViewModels.Home

@model IndexViewModel

@{
    ViewBag.Title = "Community Home Page";
}

@*<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="~/Content/Video/mp4/Ground-Zero.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="~/Content/Video/webm/Ground-Zero.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="PATH_TO_JPEG" alt="">
        </div>
    </div>
</div>*@

<div id="animation"></div>


<div class="ui container content">
    <section class="home row text-center">
        <h1 class="ui horizontal divider header">
            How it works?
        </h1>
        <div class="ui three steps" style="border: none;">
            <div class="step">
                <i class="add blue user icon"></i>
                <div class="content">
                    <div class="title">Create profile</div>
                    <div class="description">Become part of your local community.</div>
                </div>
            </div>
            <div class="step">
                <i class="warning blue circle icon"></i><br />
                <div class="content">
                    <div class="title">Report</div>
                    <div class="description">Make suggestions or report problems and earn badges.</div>
                </div>
            </div>
            <div class="step">
                <i class="info blue icon"></i>
                <div class="content">
                    <div class="title">Get feedback</div>
                    <div class="description">Get feedback from your local community administration.</div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="home row text-center">
        <h1 class="ui horizontal divider header"> What actualy is this? </h1>
        <p>The Procitozen team and its partners have the mission to consolidate and develop the capacity of civil society within the country. We give you the opportunity to pursue your civil rights arisig of your status as a inhabitant or resident in a particular territory.</p>
        <a href="@Url.Action("about", "home", new { area = string.Empty })" class="ui huge inverted green button">More about it</a>
    </section>
    
 
    <section class="home row text-center">
        <h1 class="ui horizontal  divider header">
            Support your local community
        </h1>
        <div class="ui three statistics">
            <div class="statistic">
                <div class="value">
                    @Model.TotalReports
                </div>
                <div class="label">
                    Reports
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    <img src="~/Content/Images/Avatars/small/default.jpg" class="ui circular inline image">
                    @Model.TotalReporters
                </div>
                <div class="label">
                    Team Members
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                        @Model.TotalInstitutions
                </div>
                <div class="label">
                        Institutions
                </div>
            </div>
        </div>
    </section>
    
    
    <section class="">
        <h1 class="ui horizontal divider header"><a href="@Url.Action("register", "Reporters")" class="ui inverted huge green button">Join the revolution now</a></h1>
    </section>

</div>
@section Scripts{
    <script>
var animData = {
            wrapper: document.getElementById('animation'),
            animType: 'svg',
            loop: true,
            prerender: true,
            autoplay: true,
            path: 'http://res.cloudinary.com/rodetyo/raw/upload/v1462460587/kish.json'
        };
        var anim = bodymovin.loadAnimation(animData);
    </script>
}