@using Reporter.Web.ViewModels.User
@model Reporter.Web.ViewModels.User.LoginViewModel
@{
    ViewBag.Title = "Log in to your community";
}

<div class="ui container content">
    <div class="ui two column centered grid">
        <div class="column text-center">
            <div class="ui attached message">
                <div class="header">
                    <h3>@ViewBag.Title</h3>
                </div>
                <p>Fill out the form below to login</p>
            </div>
            @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "ui large form attached segment", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "ui message" })
                <div class="ui stacked">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "E-mail address", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error" })
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
                        </div>
                    </div>
                    <div class="inline field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" tabindex="0" class="hidden">
                            <label>Remember me?</label>
                        </div>
                    </div>

                    <div class="ui fluid large blue submit button"><i class="rocket icon"></i> Log me in</div>
                </div>
            }
            <div class="ui bottom attached warning message">
                New to us? @Html.ActionLink("Become reporter", "Register")
            </div>

            <div class="ui horizontal divider">
                OR
            </div>
            <h3>Be social and login with your profile</h3>
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
</div>


@* Enable this once you have account confirmation enabled for password reset functionality
    <p>
        @Html.ActionLink("Forgot your password?", "ForgotPassword")
    </p>*@

@section Scripts {
    <script>
        $('.ui.form')
            .form({
                fields: {
                    email: {
                        identifier: 'Email',
                        rules: [
                            {
                                type: 'email',
                                prompt: 'Please enter a valid e-mail'
                            }
                        ]
                    },
                    password: {
                        identifier: 'Password',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter a password'
                            },
                            {
                                type: 'minLength[6]',
                                prompt: 'Your password must be at least {ruleValue} characters'
                            }
                        ]
                    },
                },
                inline: true,
                on: 'blur'
            });

        $('.ui.checkbox').checkbox();
    </script>
}