@model Reporter.Web.ViewModels.User.RegisterViewModel
@{
    ViewBag.Title = "Register to your local community";
}
<div class="ui container content">
    <div class="ui two column centered grid">
        <div class="column text-center">
            <div class="ui attached message">
                <div class="header">
                    <h3>@ViewBag.Title</h3>
                </div>
                <p>Fill out the form below to sign-up for a new account</p>
            </div>
            @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "ui large form attached segment", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "ui message" })
                <div class="ui stacked">
                    <div class="required field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            @Html.TextBoxFor(m => m.FullName, new { @class = "", placeholder = "Please, enter your two names" })
                        </div>
                    </div>
                    <div class="required field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            @Html.TextBoxFor(m => m.Email, new { @class = "", placeholder = "Please, enter email" })
                        </div>
                    </div>
                    <div class="required field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            @Html.PasswordFor(m => m.Password, new { @class = "", placeholder = "Please, enter password" })
                        </div>
                    </div>
                    <div class="required field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "", placeholder = "Please, confirm password" })
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="text telephone icon"></i>
                            @Html.TextBoxFor(m => m.Phone, new { @class = "", placeholder = "Add phone" })
                        </div>
                    </div>
                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="TermsAndConditions">
                            <label>Accept <a href="#" target="_blank">terms and conditions</a></label>
                        </div>
                    </div>
                    <div class="ui fluid large blue submit button"><i class="rocket icon"></i> Register me</div>
                </div>
            }
            <div class="ui bottom attached warning message">
                Remember, you can always @Html.ActionLink("login with social", "Login")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
            $(document)
            .ready(function() {
                $('.ui.form')
                .form({
                    fields: {
                        fullName: {
                            identifier: 'FullName',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please enter your full name'
                                },
                                {
                                    type: 'maxLength[50]',
                                    prompt: 'Your name can be maximum of 50 characters.'
                                }
                            ]
                        },
                        email: {
                            identifier  : 'Email',
                            rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Please enter your e-mail'
                                },
                                {
                                    type   : 'email',
                                    prompt : 'Please enter a valid e-mail'
                                }
                            ]
                        },
                        password: {
                            identifier  : 'Password',
                            rules: [
                            {
                                type   : 'empty',
                                prompt : 'Please enter your password'
                            },
                            {
                                type   : 'length[6]',
                                prompt : 'Your password must be at least 6 characters'
                            }
                            ]
                        },
                        confirmPassword: {
                            identifier: 'ConfirmPassword',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please enter your password confirmation'
                                },
                                {
                                    type: 'length[6]',
                                    prompt: 'Your password must be at least 6 characters'
                                }
                            ]
                        },
                        termsAndConditions: {
                            identifier: 'TermsAndConditions',
                            rules: [
                                {
                                    type: 'checked',
                                    prompt: 'You must agree to the terms and conditions'
                                }
                            ]
                        }
                    },
                    inline: true,
                    on: 'blur'
                });

                $('.ui.checkbox').checkbox();
            });
    </script>
}
